.Table-Main {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    padding: 5px;
    margin: 1.5%;
    overflow-x: auto;
    
    // optional - looks better for small cell values
    white-space: nowrap;
  
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  .Table-Main,
  .Table-Main--flip tbody {
    
    // scrolling shadows
    background: radial-gradient(left, ellipse, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 0 center,
                radial-gradient(right, ellipse, rgba(0,0,0, .2) 0%, rgba(0,0,0, 0) 75%) 100% center;
    background-size: 10px 100%, 10px 100%;
    background-attachment: scroll, scroll;
    background-repeat: no-repeat;
  }
  
  // change these gradients from white to your background colour if it differs
  // gradient on the first cells to hide the left shadow
  .Table-Main td:first-child,
  .Table-Main--flip tbody tr:first-child {
    background-image: linear-gradient(to right, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
    background-repeat: no-repeat;
    background-size: 20px 100%;
  }
  
  // gradient on the last cells to hide the right shadow
  .Table-Main td:last-child,
  .Table-Main--flip tbody tr:last-child {
    background-image: linear-gradient(to left, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 100%);
    background-repeat: no-repeat;
    background-position: 100% 0;
    background-size: 20px 100%;
  }
  
  .Table-Main th {
    font-size: 11px;
    text-align: left;
    text-transform: uppercase;
    background: #f2f0e6;
  }
  
  .Table-Main th,
  .Table-Main td {
    padding: 6px 12px;
    border: 1px solid #d9d7ce;
  }
  
  .Table-Main--flip {
    display: flex;
    overflow: hidden;
    background: none;
  }
  
  .Table-Main--flip thead {
    display: flex;
    flex-shrink: 0;
    min-width: min-content;
  }
  
  .Table-Main--flip tbody {
    display: flex;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
  }
  
  .Table-Main--flip tr {
    display: flex;
    flex-direction: column;
    min-width: min-content;
    flex-shrink: 0;
  }
  
  .Table-Main--flip td,
  .Table-Main--flip th {
    display: block;
    text-align: center;
  }
  
  .Table-Main--flip td {
    background-image: none !important;
    // border-collapse is no longer active
    border-left: 0;
  }
  
  // border-collapse is no longer active
  .Table-Main--flip th:not(:last-child),
  .Table-Main--flip td:not(:last-child) {
    border-bottom: 0;
  }
  
  .h2{
    margin: 2.5%;
  }