.Heading-main{
    padding: 1%;
    margin: 1.5%;
    border: 2px double black;
}
.h2{
    margin-left: 1%;
    font-size:xx-large;
    font-family: monospace;
    font-weight: 300; 
    text-align: center;
}