.Heading-main{
    padding: 1%;
    margin: 1.5%;
    
    background-image: linear-gradient(to bottom, #2a457a, #354a63);
    color: #FFFF;
}
.h2{
    margin-left: 1%;
    font-size:xx-large;
    font-family: monospace;
    font-weight: 300; 
    text-align: center;
}